.autocomplete_input {
    width: 100%;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    padding: 10px 50px 10px 10px;
    color: black;
    background-color: white;
    transition: border-color 0.5s, box-shadow 0.5s;
    outline: none;
}

.autocomplete_inputContainer {
    position: relative;
}

.autocomplete_inputButtonsContainer {
    position: absolute;
    top: 12px;
    right: 10px;
    display: inline-flex;
    gap: 6px;
}

.autocomplete_button {
    width: 16px;
    height: 16px;
    background-color: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    outline: none;
    border:unset;
    color: #535353;
    transition: transform 0.3s, color 0.5s;
    cursor: pointer;
}

.autocomplete_button:hover {
    color: #00c6ff;
}

.autocomplete_button svg {
    width: 70%;
    height: 70%;
}

.autocomplete_buttonOpen {
    transform: rotate(180deg);
}

.autocomplete_inputClose {
    border: 1px solid #00c6ff;
    border-radius: 6px;
}

.autocomplete_inputOpen {
    border-radius: 6px 6px 0 0;
    border-top: 1px solid #00c6ff;
    border-right: 1px solid #00c6ff;
    border-bottom: unset;
    border-left: 1px solid #00c6ff;
}

.autocomplete_input:focus {
    border-color: #0ba5d1;
    box-shadow: 0 0 6px 0 #ababab;
}

.autocomplete_munuWrapper {
    position: relative;
}

.autocomplete_menuContainer {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 350px;
    overflow-y: auto;
    background-color: white;
    padding: 10px 0 10px 0;
    box-sizing: border-box;
    border-top: unset;
    border-right: 1px solid #00c6ff;
    border-bottom: 1px solid #00c6ff;
    border-left: 1px solid #00c6ff;
    border-radius: 0 0 6px 6px;
}

.autocomplete_menuItem {
    margin: 0 0 16px 0;
    cursor: pointer;
    padding: 4px 10px 4px 10px;
    font-family: Tahoma, sans-serif;
    color: black;
}

.autocomplete_menuItem:hover {
    background-color: #b6efff;
}

.autocomplete_menuItemLineName {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.autocomplete_menuItemLineFullName  {
    font-size: 14px;
}

.autocomplete_menuItemImgContainer {
    width: 32px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 6px 0 0;
}

.autocomplete_menuItemImgContainer img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 0 1px 0 black;
}

.autocomplete_menuItemImgContainer svg {
    max-width: 100%;
    max-height: 100%;
}

.autocomplete_noDataLineSvg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.autocomplete_noDataLineText {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    color: #a1a1a1;
    text-align: center;
}

.autocomplete_noDataLineSvg svg {
    height: 60px;
}

.autocomplete_loaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}